.example-container {
  width: 100%;
  
  mat-form-field {
    display: block;
    width: 100%;       // aumentar un poco respecto al 75%
    max-width: 600px; // un poco más amplio
    margin: 0.75rem auto;
    padding-bottom: 30px;
  }
}

.mat-form-field-outline {
  border-width: 2px !important; // opcional, para uniformidad
}

.mat-form-field-underline {
  display: none !important; // elimina la línea inferior extra
}
