<div class="filters-toolbar d-flex justify-content-end gap-3 mb-3">

    <mat-button-toggle-group name="serviceMenu" 
        aria-label="Per service"
        [value]="selectedServiceFilter()" 
        (change)="selectedServiceFilter.set($event.value)">

        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="web">WEB</mat-button-toggle>
        <mat-button-toggle value="ads">ADS</mat-button-toggle>
        <mat-button-toggle value="seo">SEO</mat-button-toggle>

    </mat-button-toggle-group>

    <mat-button-toggle-group name="priceMenu" 
        aria-label="Order by price"
        [value]="selectedPriceFilter()" 
        (change)="onPriceFilterChange($event.value)">

        <mat-button-toggle value="priciest">↓ Price</mat-button-toggle>
        <mat-button-toggle value="cheapest">↑ Price</mat-button-toggle>

    </mat-button-toggle-group>

    <mat-button-toggle-group name="nameMenu" 
        aria-label="Order by price"
        [value]="selectedNameFilter()" 
        (change)="onNameFilterChange($event.value)">

        <mat-button-toggle value="A-Z">Name (A - Z) </mat-button-toggle>
        <mat-button-toggle value="Z-A">Name (Z - A)</mat-button-toggle>
        
    </mat-button-toggle-group>

</div>

<div class="gap-3 mb-3">
    
    <div class="cards-container">
        @for (order of filteredOrders(); track order.id) {
        <app-final-card [order]="order"></app-final-card>
        }
    </div>

</div>