.filters-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap; // permite que bajen si no caben
  gap: 1rem;
  margin-bottom: 1rem;
  flex: 1 1 100%;
}


/* 🔹 Ajuste base de los grupos */
::ng-deep mat-button-toggle-group {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

::ng-deep mat-button-toggle {
  border: none !important;

  .mat-button-toggle-button {
    color: var(--text-secondary);
    transition: all 0.3s ease;
    border-right: 1px solid var(--border-color);
  }

  &:last-child .mat-button-toggle-button {
    border-right: none;
  }

  &:hover:not(.mat-button-toggle-checked) .mat-button-toggle-button {
    color: var(--accent-tertiary);
    border-color: var(--accent-tertiary);
  }

  &.mat-button-toggle-checked .mat-button-toggle-button {
    background-color: var(--bg-primary);
    color: var(--accent-success);
    border-color: var(--accent-success);
  }
}

@media (max-width: 992px) {
  .filters-toolbar {
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
  }

  ::ng-deep mat-button-toggle-group {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; 
  }

  ::ng-deep mat-button-toggle {
    flex: 1 1 45%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  ::ng-deep mat-button-toggle {
    flex: 1 1 100%;
    border-bottom: 1px solid var(--border-color);

    &:last-child .mat-button-toggle-button {
      border-right: none;
      border-bottom: none;
    }
  }
}