@if (createSummary()) {

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <!-- <div class="card-header no-border">
                        <h5 class="card-title">MOM</h5>
                    </div> -->
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-month">TOTAL</span>
                                    <span class="widget-49-date-day"> price €</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">userName</span>
                                    <span class="widget-49-meeting-time">userEmail</span>
                                    <span class="widget-49-meeting-time">userPhone</span>
                                </div>
                            </div>

                            <ul class="widget-49-meeting-points">
                                <div class="widget-49-title-wrapper">Your services</div>
                                <li class="widget-49-meeting-item"><span>WEB: num Pages, num Languages</span></li>
                                <li class="widget-49-meeting-item"><span>ADS</span></li>
                                <li class="widget-49-meeting-item"><span>SEO</span></li>
                            </ul>
                            <!-- <div class="widget-49-meeting-action">
                                <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}