.column {
  background-color: #80ba7c;
  padding: 10px;
  width: 30%;
  text-align: start;
  box-sizing: border-box; 
}

h5 {
    margin-bottom: 0 !important;
    margin-left: 4rem !important;
}

.services-header-container {
  width: 60%;       
  margin: 1rem auto; 
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  
  // Para tablets
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  // Para móviles
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}