<div class="container-fluid px-2 mt-2">
  <div class="row gx-3 gy-4">
    
    <!-- Columna izquierda (servicios) -->
    <div class="col-12 col-lg-7">
      <div class="services-header-container">
        <div class="services-header d-flex align-items-center justify-content-between flex-wrap">
          <h3>Our services</h3>
            <app-final-price [totalPrice]="serviceState.totalPrice()"></app-final-price>
        </div>
      </div>

      <div class="services-list mt-3">
        <app-service-card
          service="web"
          serviceDescription="Responsive website development."
          price="500"
          [isSelected]="serviceState.webSelected()"
          (checkboxChanged)="onServiceChange('web', $event)">
        </app-service-card>

        <app-service-card
          service="ads"
          serviceDescription="Tailored ads campaign."
          price="400"
          [isSelected]="serviceState.adsSelected()"
          (checkboxChanged)="onServiceChange('ads', $event)">
        </app-service-card>

        <app-service-card
          service="seo"
          serviceDescription="Complete professional SEO audit."
          price="300"
          [isSelected]="serviceState.seoSelected()"
          (checkboxChanged)="onServiceChange('seo', $event)">
        </app-service-card>
      </div>

      <div class="orders-section mt-4">
        <h3 class="mb-3 orders-grid">Orders confirmed</h3>
        <div class="all-list">
            <app-order-list [orders]="allOrders()"></app-order-list>
        </div>
      </div>
    </div>

    <!-- Columna derecha (contacto) -->
    <div class="col-12 col-lg-5">
      <div class="contact-header-container">
        <app-contact-form (formSubmitted)="onFormSubmitted($event)"></app-contact-form>
      </div>
    </div>
  </div>
</div>
