<div class = "container-panel">
    <div class="col-lg-8 d-flex align-items-center gap-4">
          <i class="bi bi-info-circle-fill"></i>
          <p class="mb-0">Number of pages</p>

        <div class="input-group" style="width: 110px;">
          <button type="button" class="btn btn-outline-primary quantity-left-minus" data-type="minus">-
              <i class="bi bi-dash"></i>
          </button>
          
          <input type="text" id="quantity" name="quantity" class="form-control text-center" value="1" min="1" max="100">
          
          <button type="button" class="btn btn-outline-primary quantity-right-plus" data-type="plus">+
              <i class="bi bi-plus"></i>
          </button>
        </div>
    </div>
</div>
